<div class="card mb-3">
  <h2 class="card-header h4">
    Grading #<%= grading.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Teacher</dt>
      <dd>
        <% if @grading.teacher.present? %>
          <%= link_to grading.teacher, grading.teacher %>
        <% end %>
      </dd>

      <dt>Submission</dt>
      <dd>
        <% if @grading.submission.present? %>
          <%= link_to grading.submission, grading.submission %>
        <% end %>
      </dd>

      <dt>Marked work</dt>
      <dd>
        <%= cl_image_tag @grading.marked_work, class: "img-fluid" %>
      </dd>

      <dt>Grade</dt>
      <dd><%= grading.grade %></dd>

      <dt>Feedback</dt>
      <dd><%= grading.feedback %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back grading, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_teacher == @grading.teacher %>
          <%= link_to edit_grading_url(grading), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_teacher == @grading.teacher %>
          <%= link_to grading, method: :delete, data: { confirm: "Do you really want to delete this grading?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(grading.updated_at) %> ago
  </div>
</div>
