<% was_validated = grading.errors.any? %>

<%= form_with(model: grading, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :teacher_id, value: current_teacher.id %>
  <div class="form-group">
    <% submission_class = "form-control" %>
    <% submission_was_invalid = grading.errors.include?(:submission) %>

    <% if was_validated %>
      <% if submission_was_invalid %>
        <% submission_class << " is-invalid" %>
      <% else %>
        <% submission_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :submission_id %>
    <%= f.collection_select :submission_id, Submission.all, :id, :to_s, {}, class: "form-control" %>
    <% if submission_was_invalid %>
      <% grading.errors.full_messages_for(:submission).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% marked_work_class = "form-control" %>
    <% marked_work_was_invalid = grading.errors.include?(:marked_work) %>

    <% if was_validated %>
      <% if marked_work_was_invalid %>
        <% marked_work_class << " is-invalid" %>
      <% else %>
        <% marked_work_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :marked_work %>
    <%= f.file_field :marked_work, class: "form-control" %>
    <% if marked_work_was_invalid %>
      <% grading.errors.full_messages_for(:marked_work).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% grade_class = "form-control" %>
    <% grade_was_invalid = grading.errors.include?(:grade) %>

    <% if was_validated %>
      <% if grade_was_invalid %>
        <% grade_class << " is-invalid" %>
      <% else %>
        <% grade_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :grade %>
    <%= f.text_field :grade, class: grade_class, placeholder: "Enter grade" %>
    <% if grade_was_invalid %>
      <% grading.errors.full_messages_for(:grade).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% feedback_class = "form-control" %>
    <% feedback_was_invalid = grading.errors.include?(:feedback) %>

    <% if was_validated %>
      <% if feedback_was_invalid %>
        <% feedback_class << " is-invalid" %>
      <% else %>
        <% feedback_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :feedback %>
    <%= f.text_area :feedback, class: feedback_class, placeholder: "Enter feedback" %>
    <% if feedback_was_invalid %>
      <% grading.errors.full_messages_for(:feedback).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
