<%= form_with(model: @grading, local: true) do |f| %>

  <%= f.hidden_field :teacher_id, value: current_teacher.id %>

  <%= f.hidden_field :submission_id, value: @submission.id %>

  <div class="form-group">
    <%= f.label :marked_work %>

    <%= f.file_field :marked_work, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :grade %>

    <%= f.text_field :grade, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :feedback %>
    <%= f.text_area :feedback, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create grading", class: "btn btn-block btn-outline-secondary" %>
<% end %>
